@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input{
    margin: 10px;
    height: 40px;
    width: 300px;
    font-size: 22px;
    outline: none;
    margin-left: 38px;
    border-radius: 5px;
    border: none;
    color: #0785fa;
    text-align: center;
    transition: 1s;
    font-family: 'Sansita Swashed', cursive;
}
.cont{
    border: 2px solid black;
    width: 400px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #030324;
    border-color: #030324;
    border-radius: 10px;
}
.form{
    padding: 10px;
    color: white;
}
.head{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-size: 50px;
}
input[type='submit']{
    font-family: sans-serif;
    background-color: #faa507;
    color: wheat;
    cursor: pointer;
}
input[type='submit']:hover{
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}
span{
    color: red;
}
